.offcanvas {
  width: 40% !important;
}

.navbgcolor {
  background-color: #39aebc;
}

.bgcolor {
  background: #f2fbf9 !important;
  border: 1px solid lightblue !important;
}

.bottams {
  position: fixed;
  bottom: 10px;
}
.boxborder {
  border: 2px solid lightblue;
}
.form-control {
  border: 1px solid #111213 !important;
  border-radius: 0 !important;
}

.form-select {
  border: 1px solid #111213 !important;
  border-radius: 0 !important;
}
